
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  color: #333;
}

pre {
  text-align: start
}

aside p {
  margin: 0;
  background-color: #555;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  line-height: 2;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  word-spacing: 10px;
  text-decoration: underline line-through;
  text-transform: uppercase;
}

main {
  text-align: center;
  background-color: #fff;
  min-height: calc(100vh - 165px);
  padding-top: 20px;
}

main sub h1 {
  font-size: 24px;
  color: #555;
}

header {
  background-color: #a83232;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

header nav {
  width: 1024px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  margin-left: 20px;
}

nav ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
}

nav ul li :hover {
  background-color: #f4b5b5;
}

nav ul .active {
  border-bottom: 2px solid #f4b5b5;
}

.search {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

.search button {
  background-color: white;
  color: #a83232;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.search button:hover {
  background-color: #e85050;
  color: white;
}

.brand-wrapper {
  width: 100%;
  display: flex;
}

.brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.leftside-brand img {
  width: 300px;
}

.rightside-brand {
  display: flex;
  flex: 1;
  padding: 20px;
  flex-direction: column;
}

.rightside-brand h3 {
  font-size: 1rem;
  color: #cbcbcb;
  margin: 0;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(203, 203, 203);
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  width: 1024px;
}

.content-item {
  flex: 1 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 10px);
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #000000;
  padding: 2px;
}

.content-item img {
  max-width: 100%;
  height: 200px;
  width: 100%;
}

.content-item p {
  font-size: 18px;
  color: #333;
}

footer {
    box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.footer-wrapper {
  background-color: #a83232;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap:10rem;
  flex-direction: row;
  width: 1024px;
  margin: 0 auto;
}

.footer-container div {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-container div h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer-container div p {
  list-style-type: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .brand-wrapper {
    display: none;
  }

  main {
    padding: 0;
  }

  header nav {
    width: 90%;
  }

  .content-item {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 10px);
  }

  .content-container {
    width: 80%;
  }

  .footer-container {
    width: 100%;
  }

  .content-wrapper h1 {
    font-size: calc(1rem + 1vw);
  }

  pre {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header nav {
    width: 100%;
  }

  .content-item {
    flex: 1 1 calc(100% - 80px);
    max-width: calc(100%);
    margin: 0 20px 0 20px ;
  }

  .content-container {
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }

  .content-wrapper h1 {
    font-size: calc(1rem + 1vw);
  }
}


.table {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr); /* 1 колонка для заголовков слева и 3 колонки для данных */
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.table-header, .table-row-value, .side-table-header {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.header-row {
  display: contents;
}

.table-row {
  display: contents;
}

.table-row:nth-of-type(even) .table-row-value {
  background-color: #f6c3c3;
}

.table-header {
  font-weight: bold;
  background-color: #ddd;
}

.side-table-header {
  background-color: #ddd;
  font-weight: bold;
}
